.main {
    width: 380px
}

#header{
    position: fixed;
    width: 380px;
    height: 80px;
    background: rgb(105, 105, 105); 
    border:2px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

#content{
    padding-top:80px;
}

.h1{
    font-size: 20px;
    color:rgb(255, 255, 255);
    line-height: 0.5;
    
}
.h2{
    font-size: 10px;
    color:rgb(158, 212, 203);
    line-height: 0.5;
}
.h3{
    font-size: 22px;
    color:white;
    line-height: 0.3;
    text-shadow: black 2px 1px;
}

.h4{
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 0.5;    
}

.h5{
    font-size: 20px;
    color:rgb(248, 211, 0);
    line-height: 0.5;
}



